@tailwind base;
@tailwind components;
@tailwind utilities;

.n {
  border-radius: 10px;
  background: #f8f7f7;
  box-shadow: 23px 23px 100px #636363,
    -23px -23px 100px #ffffff;
}

.nn {
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #e4e1e1,
    -5px -5px 10px #ffffff;
}